.banner {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    height: 85px;
    background: #AF96E7;
    overflow: hidden; /* optional */
    display: flex;
}
.functions-cont{
    border: #DFDFDF solid 2px;
    border-radius:35px;
    padding-left: 10px;
    padding-right: 10px;
    position:absolute;
    left: 70vw;
    top: 25px;
    height: 30px;
    width: max-content;
    display: flex;
    flex-direction: row;
    background: #AF96E7;
    cursor: pointer;
}

.functions-cont:hover::after {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-75%);
    background-color: #AF96E7;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 5px;
}
.functions-cont img{
    vertical-align: middle;
    align-items: center;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
}
.banner h1 {
    padding-left: 20px;
    font-family: Inter;
    color: #FFFFFF;
}
  
.main-cont{
    position:absolute;
    display: flex;
    flex: row;
    margin-top: 85px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    width: 50%;
}
.main{
    flex:1 0 0;
    top: 85px;
    width: 70%;
    padding-left: 20px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.greeting h1{
    font-family: Inter;
    color: #c1b0e5; 
}

.group-cont{
    width: 248px;
    height: 100vh;
    display:flex;
    flex-direction: column;
    position: relative;
    padding: 0px;
    margin: 0px;
    background: #DFDFDF;
    overflow-y: scroll;
}

.group{
    flex: 1,0,0;
    padding-left: 20px;
    padding-top: 1px;
    font-family: Inter;
    color: #160020;
    font-weight: 400;
    font-size: 18px;
    height: auto;
    max-height: 150px;
}

.group:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: inline-block; /* This will put the pseudo element on its own line. */
    margin: 0, auto; /* This will center the border. */
    width: 90%; /* Change this to whatever width you want. */
    padding-top: 3px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid black;
    padding-bottom: 3px;
}

.group:hover{
    background-color: #aba8a8;
}

.link{
    text-transform:uppercase;
    text-decoration: none;
    color:#363DF8;
}

.group-cont h2 {
    color: #6D73B0;
    font-weight: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 50%;
    border: #6D73B0 3px solid;
    border-radius: 25px;
    font-family: Inter;
}
.group p{
    font-size: 14px;
    line-height: 1em;
    max-height: 3em;
    padding-right: 20px;
    width: 200px;
    display:block;
    word-wrap: break-word;
    overflow: hidden;
    text-align: left;
    white-space: wrap;

}
.search-area h3{
    font-family:Arial, Helvetica, sans-serif;
    color:#646464;
    margin-top: 30px;
}