*{
    outline: 1px red solid;
}

.banner {
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw;
    height: 85px;
    background: #AF96E7;
    overflow: hidden; /* optional */
}
  
  .banner h1 {
    padding-left: 20px;
    font-family: Inter;
    color: #FFFFFF;
  }
  

.main{
    position: absolute;
    top: 85px;
    height: auto;
    margin-top: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}