.banner {
    position: absolute;
    height: 85px;
    left: 248px;
    top: 0px;
    background: #AF96E7; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .functions-cont{
    border: #DFDFDF solid 2px;
    border-radius:35px;
    padding-left: 10px;
    padding-right: 10px;
    position:absolute;
    left: 70vw;
    top: 25px;
    height: 30px;
    width: max-content;
    display: flex;
    flex-direction: row;
    background: #AF96E7;
    cursor: pointer;
}

.functions-cont:hover::after {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-75%);
    background-color: #AF96E7;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 5px;
}

.leave-group-msg {
    display: none;
}

.functions-cont:hover .leave-group-msg {
    display: block;
}

  
  .members-cont {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 249px;
    height: 100%;
    left: 0px;
    top: 85px;
    background: linear-gradient(#F3F3F3, #ECECEC);
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .member {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #DADADA;
    position: relative;
  }
  
  .member-p {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }
  
  .member-name {
    width: fit-content;
    font-weight: bold;
    color: #555;
    margin-right: 10px;
  }
  
  .member-role {
    width: fit-content;
    color: #777;
    font-size: 12px;
  }
  
  .member-divider {
    position: absolute;
    width: 162px;
    height: 9px;
    left: 55px;
    background: #BDBDBD;
  }
  
  .member-divider:nth-child(2) {
    top: 18px;
  }
  
  .member-divider:nth-child(3) {
    top: 35px;
  }