.members-cont{
    display:flex;
    flex-direction: column;
    position: absolute;
    width: 249px;
    height: 635px;
    left: 0px;
    top: 85px;
    background: #DFDFDF;
}
.member{
    display:flex;
    flex-direction: row;
}
.member-p{
    width: 30%;
    height: 30%;
}
.member-name{
    width: fit-content;
}